.puzz{
    margin-bottom: 8%;
    margin-top: 12%;
}
  
  /* Style pour le titre */
  h2 {
    font-size: 2rem;
    margin-bottom: 20px;
    text-align: center;
    color: #3f51b5;
  }
  
  /* Style pour la zone de réponse */
  .inn[type='text'] {
    font-size: 1.5rem;
    padding: 10px;
    margin-right: 10px;
    border: none;
    border-radius: 5px;
    background-color: #f5f5f5;
    color: #333333;
  }
  
  /* Style pour le bouton Soumettre */
  .b {
    font-size: 1.5rem;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #3f51b5;
    color: #ffffff;
    cursor: pointer;
  }
  
  /* Style pour le score */
  .pppp {
    font-size: 1.5rem;
    margin-top: 20px;
    text-align: center;
    color: #333333;
  }
  
  /* Style pour le message de fin */
  .fin:last-of-type {
    font-size: 2rem;
    margin-top: 20px;
    text-align: center;
    color: #3f51b5;
  }